<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Web MediaDevices Player</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <style>
    body,
    html,
    #app {
      width: 100%;
      height: 100%;
    }

    body {
      margin: 0;
      background-color: #3f3f3f;
      color: white;

    }

    #app {
      position: relative;
      overflow: hidden;
    }

    .action-bar-wrap {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10;
      height: 70px;
    }

    .action-bar-wrap:hover .action-bar {
      visibility: visible;
      opacity: 1;
    }

    .action-bar {
      height: 100%;
      padding: 10px;

      background: linear-gradient(180deg, #0000004d, transparent);
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
    }

    .action-bar span {
      font-size: 12px;
    }

    .action-bar select {
      width: 200px;
      margin-left: 5px;
      margin-right: 8px;
    }

    .action-bar button {
      margin-left: 2px;
      margin-right: 2px;
    }

    #app video {
      width: 100%;
      height: 100%;
      /* object-fit: contain; */
    }

    #app .loading-layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      z-index: 20;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>

  <script src="./vue.global.prod.js"></script>
</head>

<body>
  <div id="app">
    <div v-if="isLoading" class="loading-layer">
      Loading...
    </div>
    <div class="action-bar-wrap">

      <div class="action-bar">

        <label for="videoSelect">
          <span>Video:</span>
          <select title="Video" id="videoSelect" v-model="currentVideoDeviceId">
            <option v-for="(item, index) in videoDeviceList" :key="item.deviceId" :value="item.deviceId">{{item.label}}
            </option>
          </select>
        </label>

        <label for="audioSelect">
          <span>Audio:</span>
          <select name="Audio" id="audioSelect" v-model="currentAudioDeviceId">
            <option v-for="(item, index) in audioDeviceList" :key="item.deviceId" :value="item.deviceId">{{item.label}}
            </option>
          </select>
        </label>

        <button @click="handleStart">Start</button>
        <button @click="stopBothVideoAndAudio">Stop</button>
        <button @click="clearSelect">Reset</button>
      </div>

    </div>
    <video ref="videoRef" id="videoId" autoplay playsinline controls></video>
  </div>

  <script>
    async function getEnumerateDevices() {
      if (!navigator.mediaDevices?.enumerateDevices) {
        throw new Error('enumerateDevices() not supported.')
      } else {
        // List cameras and microphones.
        const devices = await navigator.mediaDevices.enumerateDevices()

        // devices.forEach((device) => {
        //   console.log(`${device.kind}: ${device.label} id = ${device.deviceId}`, device);
        // });

        return devices
      }
    }

    async function startDisplayCapture(displayMediaOptions) {
      let captureStream;

      try {
        captureStream = await navigator.mediaDevices.getDisplayMedia(
          displayMediaOptions
        );
      } catch (err) {
        console.error(`Error: ${err}`);
      }
      return captureStream;
    }


    (function () {

      const { createApp, onMounted, ref, computed, shallowRef, watch } = Vue

      // https://github.com/canwdev/page-craft-vite/blob/master/src/hooks/use-local-storage.ts
      const useLocalStorageString = (key, defaultValue = '') => {
        const val = ref(localStorage.getItem(key) || defaultValue)
        watch(val, (val) => {
          if (val) {
            localStorage.setItem(key, val)
          } else {
            localStorage.removeItem(key)
          }
        })
        return val
      }

      const useLocalStorageObject = (key, defaultValue = {}) => {
        const val = ref(JSON.parse(localStorage.getItem(key) || 'null') || defaultValue)
        watch(val, (val) => {
          if (val) {
            localStorage.setItem(key, JSON.stringify(val))
          } else {
            localStorage.removeItem(key)
          }
        })
        return val
      }

      createApp({
        setup() {
          const isLoading = ref(true)
          const deviceList = ref([])
          const videoRef = ref()
          const currentVideoDeviceId = useLocalStorageString('ls_key_video_device_id', '')
          const videoConfig = useLocalStorageObject('ls_key_video_config')
          const currentAudioDeviceId = useLocalStorageString('ls_key_audio_device_id', '')
          const mediaStreamRef = shallowRef()

          const filterDeviceList = (list, kind) => {
            return list.filter(item => item.kind === kind && !!item.deviceId)
          }

          const videoDeviceList = computed(() => {
            return filterDeviceList(deviceList.value, 'videoinput')
          })
          const audioDeviceList = computed(() => {
            return filterDeviceList(deviceList.value, 'audioinput')
          })


          const updateDeviceList = async () => {
            try {
              isLoading.value = true
              deviceList.value = await getEnumerateDevices()
            } catch (e) {
              console.error(e)
              alert('Error: ' + e.message)
            } finally {
              isLoading.value = false
            }
          }

          onMounted(async () => {
            try {
              if (currentVideoDeviceId.value || currentAudioDeviceId.value) {
                await startMediaStream()
                await updateDeviceList()
                return
              }

              mediaStreamRef.value = await navigator.mediaDevices.getUserMedia({
                audio: true,
                video: true,
              })

              stopBothVideoAndAudio()
              await updateDeviceList()

              navigator.mediaDevices.ondevicechange = async (event) => {
                // console.log('ondevicechange', event)
                await updateDeviceList()
              };
            } catch (e) {
              console.error(e)
              alert('Error: ' + e.message)
            }
          })


          // https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
          const startMediaStream = async () => {
            try {
              isLoading.value = true

              const videoId = currentVideoDeviceId.value
              const audioId = currentAudioDeviceId.value

              let vConfig = false

              if (videoId) {
                if (!videoConfig.value || videoConfig.value.deviceId !== videoId) {
                  const vDevice = videoDeviceList.value.find(i => {
                    return i.deviceId === videoId
                  })
                  console.log(vDevice)

                  if (vDevice) {
                    const conf = vDevice.getCapabilities()
                    vConfig = videoConfig.value = {
                      deviceId: conf.deviceId,
                      height: conf.height.max,
                      width: conf.width.max,
                      frameRate: conf.frameRate.max
                    }
                  } else {
                    vConfig = { deviceId: videoId }
                  }
                } else {
                  vConfig = videoConfig.value
                }
              }

              // console.log('vConfig', vConfig)



              var constraints = {
                // audio: true,
                audio: audioId ? {
                  deviceId: audioId,
                  autoGainControl: false,
                  echoCancellation: false,
                  noiseSuppression: false
                } : false,
                // audio: {
                //   channelCount: 1,
                //   sampleRate: 16000,
                //   sampleSize: 16,
                //   volume: 1
                // },
                // video: {
                //   deviceId: videoId,
                //   width: { min: 1280, ideal: 1920, max: 2560 },
                //   height: { min: 720, ideal: 1080, max: 1440 },
                //   frameRate: { ideal: 30, max: 60 }
                // },
                video: vConfig
              };

              const stream = await navigator.mediaDevices.getUserMedia(constraints)
              mediaStreamRef.value = stream
              // console.log('stream', stream)
              const video = videoRef.value
              video.srcObject = stream;
              video.onloadedmetadata = () => {
                video.play();
              };
            } catch (e) {
              console.error(e)
              alert('Error: ' + e.message)
            } finally {
              isLoading.value = false
            }
          }

          const handleStart = () => {
            stopBothVideoAndAudio()
            startMediaStream()
          }

          const stopBothVideoAndAudio = () => {

            const video = videoRef.value
            video.pause()
            video.srcObject = null
            const stream = mediaStreamRef.value
            if (!stream) {
              return
            }
            const tracks = stream.getTracks()
            // console.log(tracks)
            tracks.forEach(track => {
              if (track.readyState == 'live') {
                track.stop();
              }
            })

          }

          const clearSelect = () => {
            stopBothVideoAndAudio()
            currentVideoDeviceId.value = ''
            currentAudioDeviceId.value = ''
            videoConfig.value = null
          }

          return {
            videoRef,
            deviceList,
            currentVideoDeviceId,
            videoDeviceList,
            currentAudioDeviceId,
            audioDeviceList,
            handleStart,
            stopBothVideoAndAudio,
            clearSelect,
            isLoading,
          }
        }
      }).mount('#app')

    })()

  </script>

</body>

</html>